h1, h2, h3, h4, h5, a, p, address {
  margin: 0;
  transition: color 1s cubic-bezier(0.19, 1, 0.22, 1); }

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

button {
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  display: inline-flex; }

img {
  width: 100%; }

h1, h2, h3, h4, h5, p, a:not([href]):not([tabindex]) {
  cursor: default; }

h2 {
  font-size: 1.8em;
  font-weight: 600;
  padding-bottom: 35px;
  text-transform: uppercase; }

body {
  font-family: "Roboto"; }
  body:active, body :hover, body :focus {
    outline: 0;
    outline-offset: 0; }

.wrapper {
  min-height: calc(100vh - 340px); }

.header {
  box-shadow: 0px 0px 15px #000;
  margin-bottom: 60px;
  padding: 15px 0; }
  .header .header__logo {
    font-weight: 600; }
    .header .header__logo img {
      width: 26px; }
    .header .header__logo .company {
      line-height: 15px;
      margin-left: 10px; }
    .header .header__logo address {
      font-size: 0.7em;
      margin-top: 5px; }
  .header .header__menu .nav .nav-item a {
    color: #000;
    line-height: 15px; }
    .header .header__menu .nav .nav-item a:hover {
      text-decoration: underline; }
  .header .header__menu .nav .nav-item:first-child {
    margin-left: auto; }
  .header .header__menu .nav .nav-item:last-child {
    margin-right: auto; }
  .header .header__phone img {
    width: 15px; }
  .header .header__phone a {
    color: #000; }

#block-parking {
  margin-bottom: 3em; }
  #block-parking .block-parking__line {
    border-bottom: 1px solid #c6c6c6;
    display: inline-table;
    padding: 0;
    margin: 0 15px; }
  #block-parking h1 {
    font-size: 2em;
    margin-bottom: 0.3em; }
  #block-parking p {
    margin-top: 3em; }
  #block-parking button {
    background-color: #f9f900;
    top: -250%;
    padding: 13px 35px;
    transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7);
    border: 1px solid rgba(46, 46, 46, 0.85);
    color: rgba(46, 46, 46, 0.6);
    margin: 4em 0; }
    #block-parking button:hover {
      top: 300%;
      border-color: #000;
      color: #000; }
    #block-parking button::before, #block-parking button ::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%; }
    #block-parking button::before {
      width: 290%;
      height: 100px;
      top: inherit;
      left: -100%;
      opacity: 0.6;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
      transform: rotate(-20deg); }
    #block-parking button::after {
      width: 100%;
      top: 0;
      border-radius: 50%;
      box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
      background-image: radial-gradient(45% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

#block-map span {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 5px;
  display: block; }
  #block-map span small {
    font-size: 0.67em; }
#block-map #map {
  height: 450px;
  width: 100%; }

/*footer */
.footer .footer__info {
  background-color: #898989; }
  .footer .footer__info p {
    font-weight: 600; }
  .footer .footer__info .footer__info_first {
    padding: 55px 0 25px 0; }
    .footer .footer__info .footer__info_first .footer__info-img {
      width: 119px; }
    .footer .footer__info .footer__info_first p {
      color: #FFF;
      font-size: 0.9em; }
    .footer .footer__info .footer__info_first .footer__info_first_socnet {
      text-align: center; }
      .footer .footer__info .footer__info_first .footer__info_first_socnet a {
        text-decoration: none; }
      .footer .footer__info .footer__info_first .footer__info_first_socnet section {
        margin-top: 15px; }
      .footer .footer__info .footer__info_first .footer__info_first_socnet figure {
        border-radius: 70px;
        width: 38px;
        height: 38px;
        position: relative;
        overflow: hidden;
        display: inline-flex;
        top: -120%;
        transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7);
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.4), 10px 4px 10px -8px rgba(0, 0, 0, 0.2), -10px 4px 10px -8px rgba(0, 0, 0, 0.2);
        background-size: 38px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 5px; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure img {
          vertical-align: bottom;
          z-index: -5;
          max-width: 100%;
          max-height: 100%; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure:hover {
          top: 120%; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure::before, .footer .footer__info .footer__info_first .footer__info_first_socnet figure ::after {
          content: "";
          display: block;
          position: absolute;
          height: 100%; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure::before {
          width: 140%;
          top: inherit;
          left: -20%;
          opacity: 0.6;
          background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
          transform: rotate(-20deg); }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure::after {
          width: 100%;
          top: 0;
          border-radius: 50%;
          box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
          background-image: radial-gradient(35% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
      .footer .footer__info .footer__info_first .footer__info_first_socnet .instagram {
        background-image: url("../img/icon/instagram.svg"); }
      .footer .footer__info .footer__info_first .footer__info_first_socnet .vk {
        background-image: url("../img/icon/vk.svg"); }
      .footer .footer__info .footer__info_first .footer__info_first_socnet .fb {
        background-image: url("../img/icon/fb.svg"); }
  .footer .footer__info .footer__info_middle a {
    color: #000;
    transition: 1s; }
    .footer .footer__info .footer__info_middle a:hover {
      color: #FFF; }
  .footer .footer__info .footer__info_last {
    padding: 30px 0 15px 0; }
    .footer .footer__info .footer__info_last a {
      color: #fff;
      text-decoration: underline;
      font-size: 0.7em;
      transition: 1s; }
      .footer .footer__info .footer__info_last a:hover {
        color: #000; }
.footer .footer__developer {
  background-color: #000;
  text-align: center; }
  .footer .footer__developer a {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.8em; }
    .footer .footer__developer a:hover {
      animation: blur 1.25s ease-out; }

@keyframes blur {
  from {
    text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 15px #7B96B8, 0px 0px 40px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 2px #fff; } }

/*# sourceMappingURL=faq.css.map */
