h1, h2, h3, h4, h5, a, p, address {
  margin: 0;
  transition: color 1s cubic-bezier(0.19, 1, 0.22, 1); }

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

button {
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  display: inline-flex; }

img {
  width: 100%; }

h1, h2, h3, h4, h5, p, span, a:not([href]):not([tabindex]) {
  cursor: default; }

h2 {
  font-size: 1.8em;
  font-weight: 600;
  padding-bottom: 35px;
  text-transform: uppercase; }

body {
  font-family: "Roboto"; }
  body:active, body :hover, body :focus {
    outline: 0;
    outline-offset: 0; }

#bounce {
  cursor: pointer;
  position: absolute;
  height: 100px;
  width: 100px;
  background: url("../img/main/gif.gif");
  background-size: 100px;
  border-radius: 50%;
  right: 10%;
  top: calc(100vh + 100px);
  transition: top 0.3s cubic-bezier(0, 0.2, 1, 0.6);
  border: 1px solid #FFF;
  z-index: 109; }

#block-bounce_h {
  width: 100%;
  user-select: none;
  display: none;
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 115;
  background: rgba(0, 0, 0, 0.8); }
  #block-bounce_h #close {
    position: absolute;
    background: url(../img/icon/close.png);
    height: 50px;
    width: 50px;
    top: 75px;
    right: 10px;
    background-size: 100%;
    cursor: pointer;
    transition: 1s; }
    #block-bounce_h #close:hover {
      opacity: 0.7; }
  #block-bounce_h .phone {
    height: 15px;
    width: 15px;
    display: inline-block;
    background: url(../img/icon/phone.jpg);
    background-size: 100%;
    margin-right: 10px; }
  #block-bounce_h .blackback {
    width: 430px;
    max-width: 95%;
    margin: 150px auto 0;
    position: relative; }
    #block-bounce_h .blackback .block-bounce_h__in {
      background: url("../img/main/block-bounce_h__bg.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #000;
      padding: 30px 30px;
      position: relative;
      z-index: 113;
      box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 40px 20px;
      text-align: left;
      border-radius: 5px; }
      #block-bounce_h .blackback .block-bounce_h__in p {
        font-size: 2em;
        line-height: 0.7em;
        font-weight: 600; }
        #block-bounce_h .blackback .block-bounce_h__in p small {
          font-size: 0.51em; }
      #block-bounce_h .blackback .block-bounce_h__in a {
        color: #000;
        text-decoration: none;
        font-weight: 600;
        margin-top: 15px;
        display: block; }

.wrapper {
  min-height: calc(100vh - 340px); }

.header {
  padding: 15px 0; }
  .header .header__logo {
    font-weight: 600; }
    .header .header__logo img {
      width: 26px; }
    .header .header__logo .company {
      line-height: 15px;
      margin-left: 10px; }
    .header .header__logo address {
      font-size: 0.7em;
      margin-top: 5px; }
  .header .header__menu .nav .nav-item a {
    color: #000;
    line-height: 15px; }
    .header .header__menu .nav .nav-item a:hover {
      text-decoration: underline; }
  .header .header__menu .nav .nav-item:first-child {
    margin-left: auto; }
  .header .header__menu .nav .nav-item_last {
    margin-right: auto; }
  .header .header__phone img {
    width: 15px; }
  .header .header__phone a {
    color: #000; }
  .header .header__mobile {
    position: absolute;
    right: 15px;
    height: 30px;
    width: 30px;
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
    .header .header__mobile .header__main-span {
      position: absolute;
      top: 15px;
      left: 0;
      width: 30px;
      height: 0;
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0); }
      .header .header__mobile .header__main-span .header__main-span_first {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .header .header__mobile .header__main-span .header__main-span_second {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .header .header__mobile .header__main-span .header__in-span {
        display: block;
        width: 30px;
        height: 3.5px;
        background: #000;
        position: absolute;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s; }
      .header .header__mobile .header__main-span .header__in-span_first {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px);
        top: 0; }
      .header .header__mobile .header__main-span .header__in-span_second {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
        bottom: 0; }
  .header .header__main-span_click {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
    .header .header__main-span_click .header__main-span_first_click {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
      .header .header__main-span_click .header__main-span_first_click .header__in-span_first_click {
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -webkit-transform: translateY(-1px); }
    .header .header__main-span_click .header__main-span_second_click {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
      .header .header__main-span_click .header__main-span_second_click .header__in-span_second_click {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
        -webkit-transform: translateY(1px); }

.block-offer {
  color: #FFF;
  background: url("../img/main/background__block-offer.jpg");
  background-size: 1920px;
  background-position: center top;
  height: calc(100vh - 75px);
  transition: top 0.2s cubic-bezier(0, 0.3, 1, 0.7); }
  .block-offer h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic; }
  .block-offer span {
    font-size: 1.4em; }
  .block-offer p {
    font-size: 1.5em;
    font-weight: 600; }
  .block-offer button {
    background-color: #f9f900;
    top: -250%;
    padding: 13px 35px;
    margin-top: 50px;
    transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7);
    border: 1px solid rgba(46, 46, 46, 0.85);
    color: rgba(46, 46, 46, 0.6); }
    .block-offer button:hover {
      top: 300%;
      border-color: #000;
      color: #000; }
    .block-offer button::before, .block-offer button ::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%; }
    .block-offer button::before {
      width: 290%;
      height: 100px;
      top: inherit;
      left: -100%;
      opacity: 0.6;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
      transform: rotate(-20deg); }
    .block-offer button::after {
      width: 100%;
      top: 0;
      border-radius: 50%;
      box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
      background-image: radial-gradient(45% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
  .block-offer .block-offer__first {
    margin-top: 170px; }
    .block-offer .block-offer__first a {
      text-decoration: none;
      display: inline-flex; }
  .block-offer .block-offer__download {
    font-size: 0.7em;
    transition: 0.8s; }
    .block-offer .block-offer__download a {
      color: #FFF;
      text-decoration: none;
      cursor: pointer; }
    .block-offer .block-offer__download:hover {
      opacity: 0.5; }

#block-categories {
  padding-top: 120px; }
  #block-categories span {
    font-size: 1.6em;
    font-weight: 600;
    display: block;
    margin-bottom: 30px; }
  #block-categories .block-categories__mobile-selecter {
    display: none; }
  #block-categories .block-categories__all {
    display: flex;
    padding-bottom: 30px; }
    #block-categories .block-categories__all p {
      font-size: 1.3em;
      padding-top: 20px; }
    #block-categories .block-categories__all li {
      padding: 3px; }
      #block-categories .block-categories__all li .block-categories__active {
        font-weight: 600;
        opacity: 1;
        cursor: default; }
        #block-categories .block-categories__all li .block-categories__active:hover {
          border-color: #000;
          opacity: 1; }
    #block-categories .block-categories__all li a {
      width: 60%;
      display: block;
      border-bottom: 1px solid #000;
      color: #000;
      text-decoration: none;
      opacity: 0.6; }
      #block-categories .block-categories__all li a:hover {
        border-color: #f9f900;
        opacity: 0.9; }
      #block-categories .block-categories__all li a .active {
        color: #f9f900; }
    #block-categories .block-categories__all .forbutton {
      display: inline-table;
      width: 100%;
      text-align: center; }
    #block-categories .block-categories__all .showmore {
      margin: 40px auto 0;
      background-color: #f9f900;
      color: rgba(0, 0, 0, 0.6);
      padding: 5px 35px;
      transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7);
      border: 1px solid rgba(46, 46, 46, 0.55);
      top: -320%; }
      #block-categories .block-categories__all .showmore:hover {
        top: 300%;
        border-color: #000;
        color: #000; }
      #block-categories .block-categories__all .showmore::before, #block-categories .block-categories__all .showmore ::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%; }
      #block-categories .block-categories__all .showmore::before {
        width: 290%;
        height: 100px;
        top: inherit;
        left: -145%;
        opacity: 0.6;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
        transform: rotate(-20deg); }
      #block-categories .block-categories__all .showmore::after {
        width: 100%;
        top: 0;
        border-radius: 50%;
        box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
        background-image: radial-gradient(45% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
    #block-categories .block-categories__all .item p {
      width: 100%;
      background-color: #ebebeb;
      padding: 20px;
      font-size: 0.85em;
      font-weight: 600; }
    #block-categories .block-categories__all .giphy {
      position: absolute;
      z-index: 110;
      background: #FFF;
      width: 100%;
      height: 100%; }
      #block-categories .block-categories__all .giphy img {
        width: 25px;
        margin-top: 100px; }
    #block-categories .block-categories__all .slick-in {
      max-height: 196px;
      overflow: hidden; }
    #block-categories .block-categories__all .hidden {
      display: none; }
      #block-categories .block-categories__all .hidden .slick-initialized {
        display: block; }
      #block-categories .block-categories__all .hidden .item {
        margin-top: 30px; }

.seotext p {
  padding: 120px 0; }

#block-asking {
  font-size: 0.8em;
  padding-bottom: 120px; }
  #block-asking p {
    text-transform: uppercase; }
  #block-asking p {
    font-size: 1.4em;
    padding-bottom: 10px; }
  #block-asking span {
    color: #f9f900; }

.block-advantage {
  padding-bottom: 120px; }
  .block-advantage span {
    line-height: 15px;
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: 600;
    display: inline-block; }

.block-architect {
  padding-bottom: 120px; }
  .block-architect .block-architect_img {
    padding-bottom: 20px; }

.block-providers {
  padding-bottom: 120px; }
  .block-providers h4 {
    font-size: 0.8em;
    font-weight: 600; }

.block-stages {
  padding: 80px 0 120px;
  font-size: 1.5em;
  background: #f9f900;
  position: relative;
  font-weight: 600;
  line-height: 30px; }
  .block-stages img {
    width: 80px;
    margin: 60px 0 20px; }
  .block-stages p {
    font-size: 0.7em; }
  .block-stages span {
    font-size: 0.6em;
    line-height: 12px;
    font-weight: 400; }
  .block-stages .info {
    font-weight: 900;
    padding-top: 15px;
    display: block; }

.block-inbuild {
  font-weight: 600;
  background: #f9f9f9;
  padding: 120px 0; }
  .block-inbuild img {
    margin: 15px 0;
    border: 1px solid #d1d1d1; }

.block-comercial {
  line-height: 1.7em;
  font-weight: 600;
  text-transform: uppercase;
  background: #f9f900;
  position: relative;
  padding: 120px 0; }
  .block-comercial img {
    width: 100px; }
  .block-comercial span {
    font-size: 1.55em; }
  .block-comercial a {
    text-decoration: none; }
  .block-comercial button {
    background: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 45px;
    transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7);
    border: 1px solid rgba(46, 46, 46, 0.55);
    top: -320%; }
    .block-comercial button:hover {
      background: rgba(255, 255, 255, 0.8);
      top: 300%;
      border-color: #000;
      color: #000; }
    .block-comercial button::before, .block-comercial button ::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%; }
    .block-comercial button::before {
      width: 290%;
      height: 100px;
      top: inherit;
      left: -145%;
      opacity: 0.6;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
      transform: rotate(-20deg); }
    .block-comercial button::after {
      width: 100%;
      top: 0;
      border-radius: 50%;
      box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
      background-image: radial-gradient(45% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

#block-faq {
  padding: 120px 0; }
  #block-faq span {
    font-size: 2em;
    line-height: 0.8em;
    font-weight: 600;
    text-transform: uppercase; }
    #block-faq span small {
      font-size: 0.5em; }
  #block-faq a {
    color: #000;
    border: 3px solid #bababa;
    text-decoration: underline;
    border-radius: 5px;
    padding: 7px 0 7px 15px;
    margin-top: 30px;
    display: block;
    font-weight: 600; }
    #block-faq a:hover {
      border: 3px solid #ffed00; }

#block-map span {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 5px;
  display: block; }
  #block-map span small {
    font-size: 0.67em; }
#block-map #map {
  height: 550px;
  width: 100%; }

/*footer */
.footer .footer__info {
  background-color: #898989; }
  .footer .footer__info p {
    font-weight: 600; }
  .footer .footer__info .footer__info_first {
    padding: 55px 0 25px 0; }
    .footer .footer__info .footer__info_first .footer__info-img {
      width: 119px; }
    .footer .footer__info .footer__info_first p {
      color: #FFF;
      font-size: 0.9em; }
    .footer .footer__info .footer__info_first .footer__info_first_socnet {
      text-align: center; }
      .footer .footer__info .footer__info_first .footer__info_first_socnet a {
        text-decoration: none; }
      .footer .footer__info .footer__info_first .footer__info_first_socnet section {
        margin-top: 15px; }
      .footer .footer__info .footer__info_first .footer__info_first_socnet figure {
        border-radius: 70px;
        width: 38px;
        height: 38px;
        position: relative;
        overflow: hidden;
        display: inline-flex;
        top: -120%;
        transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7);
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.4), 10px 4px 10px -8px rgba(0, 0, 0, 0.2), -10px 4px 10px -8px rgba(0, 0, 0, 0.2);
        background-size: 38px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 5px; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure img {
          vertical-align: bottom;
          z-index: -5;
          max-width: 100%;
          max-height: 100%; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure:hover {
          top: 120%; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure::before, .footer .footer__info .footer__info_first .footer__info_first_socnet figure ::after {
          content: "";
          display: block;
          position: absolute;
          height: 100%; }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure::before {
          width: 140%;
          top: inherit;
          left: -20%;
          opacity: 0.6;
          background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
          transform: rotate(-20deg); }
        .footer .footer__info .footer__info_first .footer__info_first_socnet figure::after {
          width: 100%;
          top: 0;
          border-radius: 50%;
          box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
          background-image: radial-gradient(35% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
      .footer .footer__info .footer__info_first .footer__info_first_socnet .instagram {
        background-image: url("../img/icon/instagram.svg"); }
      .footer .footer__info .footer__info_first .footer__info_first_socnet .vk {
        background-image: url("../img/icon/vk.svg"); }
      .footer .footer__info .footer__info_first .footer__info_first_socnet .fb {
        background-image: url("../img/icon/fb.svg"); }
  .footer .footer__info .footer__info_middle a {
    color: #000;
    transition: 1s; }
    .footer .footer__info .footer__info_middle a:hover {
      color: #FFF; }
  .footer .footer__info .footer__info_last {
    padding: 30px 0 15px 0; }
    .footer .footer__info .footer__info_last a {
      color: #fff;
      text-decoration: underline;
      font-size: 0.7em;
      transition: 1s; }
      .footer .footer__info .footer__info_last a:hover {
        color: #000; }
.footer .footer__developer {
  background-color: #000;
  text-align: center; }
  .footer .footer__developer a {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.8em; }
    .footer .footer__developer a:hover {
      animation: blur 1.25s ease-out; }

@media (max-width: 991px) {
  #block-categories .block-categories__all li a {
    width: 100%; } }
@media (min-width: 480px) and (max-width: 767px) {
  .block-offer p {
    text-align: center; }
  .block-offer .block-offer__first {
    margin-top: 0; }

  .block-comercial, #block-faq {
    display: none; }

  #block-categories .block-categories__mobile-selecter {
    display: block; }

  .header .header__menu {
    display: none;
    padding-top: 20px; }

  .footer .footer__info .footer__info_first p {
    padding-top: 25px; }

  .block-providers img {
    margin-bottom: 20px; }

  .footer .footer__info .footer__info_first p {
    font-size: 0.7em; } }
@media (max-width: 479px) {
  #bounce {
    height: 50px;
    width: 50px;
    background-size: 50px;
    right: 3%; }

  .block-offer p {
    text-align: center; }
  .block-offer .block-offer__first {
    margin-top: 0; }

  #block-bounce_h .blackback .block-bounce_h__in p {
    font-size: 1.7em; }

  .block-comercial, #block-faq, .seotext, .block-architect {
    display: none; }

  .header .header__menu {
    display: none; }
    .header .header__menu .nav-item-mob {
      border-top: 1px dashed #000;
      padding-top: 5px; }
    .header .header__menu ul {
      padding-top: 20px; }
      .header .header__menu ul li {
        width: 100%;
        text-align: center; }
  .header .header__logo .company {
    font-size: 0.8em;
    vertical-align: sub; }

  #block-map span {
    font-size: 1.25em; }

  .footer .footer__info .footer__info_first .footer__info-img {
    width: 79px; }

  .footer .footer__info p {
    padding-top: 20px;
    font-size: 0.7em; }

  .block-providers img {
    margin-bottom: 20px; }

  .block-stages p {
    font-size: 0.5em; }

  .block-offer {
    min-height: calc(100vh - 54px);
    background: url("../img/main/background__block-offer_mobile.jpg"); }
    .block-offer h1 {
      text-align: center; }
    .block-offer button {
      display: none; }
    .block-offer span {
      text-align: center;
      width: 80%;
      display: block;
      margin: 20px auto;
      line-height: 1.1em; }

  #block-categories span {
    text-align: center; }
  #block-categories .block-categories__all {
    display: block; }
    #block-categories .block-categories__all .item p {
      padding: 10px;
      font-size: 0.5em; }
  #block-categories .block-categories__mobile-selecter {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 15px; }
    #block-categories .block-categories__mobile-selecter select {
      border: 2px #f9f900 solid;
      padding: 4px;
      font-weight: 600; }

  h2 {
    font-size: 1.6em;
    margin-top: 50px; } }
@keyframes blur {
  from {
    text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 15px #7B96B8, 0px 0px 40px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 2px #fff; } }

/*# sourceMappingURL=index.css.map */
