$colorYellow: #f9f900
h1, h2, h3, h4, h5, a, p, address
    margin: 0
    transition: color 1s cubic-bezier(0.19,1,.22,1)
ul, li
    padding: 0
    margin: 0
    list-style-type: none
button
    border: 0
    cursor: pointer
    border-radius: 5px
    position: relative
    overflow: hidden
    font-weight: 600
    display: inline-flex
img
    width: 100%
h1,h2,h3,h4,h5,p,a:not([href]):not([tabindex])
    cursor: default
h2
    font-size: 1.8em
    font-weight: 600
    padding-bottom: 35px
    text-transform: uppercase
body
    font-family: 'Roboto'
    &:active,:hover,:focus
        outline: 0
        outline-offset: 0

.wrapper
    min-height: calc(100vh - 340px)
.header
    box-shadow: 0px 0px 15px #000
    margin-bottom: 60px
    padding: 15px 0
    .header__logo
        font-weight: 600
        img
            width: 26px
        .company
            line-height: 15px
            margin-left: 10px
        address
            font-size: .7em
            margin-top: 5px
    .header__menu
        .nav
            .nav-item
                a
                    color: #000
                    line-height: 15px
                    &:hover
                        text-decoration: underline
                &:first-child
                    margin-left: auto
                &:last-child
                    margin-right: auto
    .header__phone
        img
            width: 15px
        a
            color: #000


#block-parking
    margin-bottom: 3em
    .block-parking__line
        border-bottom: 1px solid #c6c6c6
        display: inline-table
        padding: 0
        margin: 0 15px
    h1
        font-size: 2em
        margin-bottom: 0.3em
    p
        margin-top: 3em
    button
        background-color: $colorYellow
        top: -250%
        padding: 13px 35px
        transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7)
        border: 1px solid rgba(46, 46, 46, .85)
        color: rgba(46, 46, 46, .60)
        margin: 4em 0
        &:hover
            top: 300%
            border-color: #000
            color: #000
        &::before,::after
            content: ''
            display: block
            position: absolute
            height: 100%
        &::before
            width: 290%
            height: 100px
            top: inherit
            left: -100%
            opacity: 0.6
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0))
            transform: rotate(-20deg)
        &::after
            width: 100%
            top: 0
            border-radius: 50%
            box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1)
            background-image: radial-gradient(45% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))

#block-map
    span
        font-size: 1.5em
        font-weight: 600
        line-height: 40px
        margin-bottom: 5px
        display: block
        small
            font-size: .67em
    #map
        height: 450px
        width: 100%

/*footer*/
.footer
    .footer__info
        background-color: #898989
        p
            font-weight: 600
        .footer__info_first
            padding: 55px 0 25px 0
            .footer__info-img
                width: 119px
            p
                color: #FFF
                font-size: 0.9em
            .footer__info_first_socnet
                text-align: center
                a
                    text-decoration: none
                section
                    margin-top: 15px
                figure
                    border-radius: 70px
                    width: 38px
                    height: 38px
                    position: relative
                    overflow: hidden
                    display: inline-flex
                    top: -120%
                    transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7)
                    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.4), 10px 4px 10px -8px rgba(0, 0, 0, 0.2), -10px 4px 10px -8px rgba(0, 0, 0, 0.2)
                    background-size: 38px
                    background-repeat: no-repeat
                    background-position: center
                    margin: 0 5px
                    img
                        vertical-align: bottom
                        z-index: -5
                        max-width: 100%
                        max-height: 100%
                    &:hover
                        top: 120%
                    &::before,::after
                        content: ''
                        display: block
                        position: absolute
                        height: 100%
                    &::before
                        width: 140%
                        top: inherit
                        left: -20%
                        opacity: 0.6
                        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0))
                        transform: rotate(-20deg)
                    &::after
                        width: 100%
                        top: 0
                        border-radius: 50%
                        box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1)
                        background-image: radial-gradient(35% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))
                .instagram
                    background-image: url("../img/icon/instagram.svg")
                .vk
                    background-image: url("../img/icon/vk.svg")
                .fb
                    background-image: url("../img/icon/fb.svg")
        .footer__info_middle
            a
                color: #000
                transition: 1s
                &:hover
                    color: #FFF
        .footer__info_last
            padding: 30px 0 15px 0
            a
                color: #fff
                text-decoration: underline
                font-size: .7em
                transition: 1s
                &:hover
                    color: #000
    .footer__developer
        background-color: #000
        text-align: center
        a
            color: #fff
            letter-spacing: 1px
            font-weight: 400
            text-decoration: none
            font-size: .8em
            &:hover
                animation: blur 1.25s ease-out

@keyframes blur
    from
        text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 15px #7B96B8, 0px 0px 40px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 2px #fff
